body {
    background-image: url(../images/escheresque_@2X.png);
}

#title {
    margin-top: 20px;
}

label, .card {
    margin: 10px;
}

label {
    margin-top: 0px;
}

#title {
    font-size: 30pt;
    text-align: center;
    background-color: rgb(168, 168, 212);
    padding: 20px;
}

.card-header {
    border-bottom: none;
}
.card-body {
    padding: 5px;
    margin: 5px;
}

.container {
    clear: both;
}

#currentTime {
    text-align: center;
}